#face {

    .page {
        padding-top: 60rem;
        box-sizing: border-box;
        padding-bottom: 24rem;
        height: 100%;
        width: 100%;
    }

    svg {
        width: 16rem;
        height: 16rem;
    }

    .statusBar {
        position: absolute;
        align-items: center;
        top: 0;
        height: 60rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        box-sizing: border-box;
        padding: 0 15rem;

        svg {
            width: 18rem;
            height: 18rem;
        }

        .notices {
            display: flex;
            align-items: center;
            gap: 5rem;
        }

        .status {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }

    .touchBar {
        position: absolute;
        bottom: 8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        height: 6rem;
        background-color: #fff;
        border-radius: 50px;
    }
}
