html {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    font-size: 393px;
    overflow: hidden;

    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #root {
            min-width: 393px;
            box-sizing: border-box;
            @media (max-width: 400px) {
                height: 100vh;
                aspect-ratio: unset;
                width: 100vw;
            }
        }
    }
}

* {
    user-select: none;
}

