.homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .iconArea {
        flex: 1;

        .swiperContainer {
            height: 100%;

            .content {
                height: 574px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 10px;
                padding: 8px 11px 0;

                .row {
                    height: 99px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

    }

    .indicator {
        height: 24px;
        align-items: center;
        margin: auto;
        display: flex;

        .dotBox {
            display: flex;
            justify-content: center;
            gap: 6px;
            transition: .2s;
            opacity: 0;
            border-radius: 12px;
            position: relative;
        }

        .dot {
            width: 6px;
            height: 6px;
            border-radius: 12px;
            background-color: #fff;
            opacity: .5;

            &.active {
                opacity: 1;
                position: absolute;
                left: 0;
                transition: .2s;
            }
        }
    }

    .dockArea {
        height: 153px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .apps {
            display: flex;
            //justify-content: center;
            gap: 25px;
            width: calc(4 * 66px + 3 * 25px);
        }

        .appIcon {
            width: 66px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;

            .appName {
                display: none;
            }
        }

        .searchBar {
            padding: 0 16px;
            box-sizing: border-box;
            height: 51px;
            width: 340px;
            border-radius: 50px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            img {
                width: 24px !important;
                height: 24px !important;
            }

            input {
                font-size: 14px;
                flex: 1;
                outline: 0;
                border: 0;
                background: transparent;
                padding: 0;
            }
        }
    }


    .bottomSafeArea {
        height: 24px;
    }

}
